.speaker {
  width: 100px;
  margin-left: -50px;
}

.speaker:first-child {
  margin-left: 0;
}

.speaker img {
  border-radius: 50%;
}

.location {
  font-size: 80%;
  font-weight: 300;
}

.body {
  min-width: 50%;
}

.download-button {
  height: 1.2em;
  margin-bottom: 3px;
  margin-left: 3px;
}
